body { background: #ea6d12; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 31px; display: flex; }
.block-cluster-0 { color: #9cc3e0; font-size: 12px; margin-bottom: 5px; }
.block-sms-1 { color: #66ad94; font-size: 19px; margin-bottom: 5px; }
.block-product-2 { color: #90357a; font-size: 20px; margin-bottom: 5px; }
.block-validator-3 { color: #215e74; font-size: 13px; margin-bottom: 5px; }
.block-token-4 { color: #5b3305; font-size: 15px; margin-bottom: 5px; }
.block-config-5 { color: #c4257d; font-size: 20px; margin-bottom: 5px; }